$corPrincipal:#6700bc ;

.subCategorias{
  &Container{
    margin:auto;
    width: 80%;
    height: 65vh;
    overflow: auto;
    table{
      width: 100%;
      th{
        font-weight: bold;
        border: 1px solid #ccc;
        padding: 1.5vh;
        background-color: rgba(204, 204, 204, 0.489);
        color: $corPrincipal;
      }
      .tableRow{
        text-align: center;
        td{
          padding: 1.5vh;
          border: 1px solid #ccc;
        }
      }
    }

  }
}

.form{
  padding: 2vh;
  margin: 18vh 9% 0;
  width: 50%;
  input{
    padding: 1.5vh;
    border: 1px solid #999;
    width: 50%;
  }
  button{
    padding: 1.5vh;
    cursor: pointer;
    background-color: $corPrincipal;
    color: #fff;
    border: 1px solid #999;
    transition: all .5s ease;
    font-weight: bold;
    &:hover{
      transform: scale(1.05);
    }
  }
}

.deletar{
  color: red;
}

.deletarBtn{
  color: red;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease;
  &:hover{
    font-size: 1.2em;
  }
}

@media(max-width:950px){
  .form{
    padding: 2vh 0;
    margin: 17vh 0 0;
    width: 100%;
  }
}
