$corPrincipal:#6700bc ;

.orcamentos{
  .orcamentoContainer{
    width: 60%;
    margin: 0 auto 5vh;
  }
  .subTitle{
    font-size: 4vh;
    margin-bottom: 2vh;
    font-weight: bold;
  }
  .listaProdutos{
    width: 100%;
    th{
      font-weight: bold;
      border: 1px solid #ccc;
      padding: 2vh 0;
      background-color: rgba(204, 204, 204, 0.489);
      color: $corPrincipal;
    }
  }
  .finaliza{
    margin-top: 2vh;
    background: $corPrincipal;
    color: #fff;
    padding: 2vh 4.5vh;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    transition: all .5s ease;
    cursor: pointer;
    &:hover{
      transform: scale(1.05);
    }
  }
  .valorfinalContainer{
    text-align: center;
    margin-top: 3vh;
  }
}

.clienteContainer{
  width: 60%;
  margin: 17vh auto 3vh;
  select{
    padding: 1vh 5vh;
  }
}

@media(max-width:950px){
  .orcamentos{
    .clienteContainer{
      width: 100%;
      text-align: center;
      select{
        padding: 2.5vh 5vh;
        width: 90%;
      }
    }
    .orcamentoContainer{
      width: 100% !important;
      margin: 5vh auto;
      .subTitle{
        margin-left: 1vh;
      }
    }
    .valorfinalContainer{
      text-align: center;
      margin-top: 3vh;
    }
    .valorMobile{
      display: none;
    }
  }
}