$btn :2.5em;
$btn-background:#ff4242;
.produto{
  .coluna{
    border: 1px solid #ccc;
    padding: 1.5vh;
    .btn{
      width: $btn;
      height: $btn;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $btn-background;
      text-align: center;
      cursor: pointer;
      border-radius: 100%;
      transition: all 800ms ease;
      font-weight: bold;
      font-size:1em;
      color: #fff;
      &:hover{
        background:#ff6b6b;
        transform: scale(1.2);
      }
    }
  }
  .acrescentar{
    background: rgb(0, 186, 0) !important;
    color: #fff;
  }
  .quantidade{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  .valor::before {
    content:"R$ ";
  }
}

.center{
  text-align: center;
}

@media(max-width:950px){
  .coluna{
    font-size: 1.5vh;
  }
  .valorMobile{
    display: none;
  }
  .btn{
    width: 3em !important;
    height: 3em !important;
    line-height: normal;
  }
}