$btn :1.8em;
$btn-background:#ff4242;
.produto{
  .coluna{
    border: 1px solid #ccc;
    padding: 1.5vh;
    height: 3.5vh;
    .btn{
      width: $btn;
      height: $btn;
      line-height: $btn;
      background: $btn-background;
      text-align: center;
      cursor: pointer;
      border-radius: 100%;
      transition: all 800ms ease;
      font-weight: bold;
      font-size:1em;
      &:hover{
        background:#ff6b6b;
        transform: scale(1.2);
      }
    }
  }
  .acrescentar{
    background: rgb(0, 186, 0) !important;
    color: #fff;
  }
  .quantidade{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .valor::before {
    content:"R$ ";
  }
}

.center{
  text-align: center;
}

.colunaP{
  width: 15%;
}
.colunaM{
  width: 20%;
}
.coluna{
  width: 35%;
}

